body {
	background: black;
	 font-family: "Arial Rounded MT Bold";
	 text-align: center;
}


/* main screen page */
.outercircle {
  width: 60vw;
  height: 60vw;
  border-radius: 80%;
  margin: 18% auto 0;
  background: rgb(71,71,71);
  border: solid 4px rgb(249,196,110);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innercircle {
  width: 30vw;
  height: 30vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(249,196,110);
}

.text-bubbles{
	/*text-align: center;*/
	display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14vw;
  margin: 10%;
  color: rgb(249,196,110);
}

.start{
	/*text-align: center;*/
	display: flex;
  align-items: center;
  justify-content: center;
   font-size: 14vw;
   color: rgb(249,196,110);
   background: rgb(71,71,71);
   border-radius: 4vw;
   display: inline-block;
   padding: 3vw 6vw;
   border: 4px solid rgb(249,196,110);
   margin-bottom: 10%;
}

a {
	text-decoration: none;
}

/* add bubble page */
.plus{
  font-size: 15vw;
  margin: 7%;
  text-align: right;
  margin-bottom: -6%;
  color: rgb(249,196,110);
}

.addbubble{
   font-size: 14vw;
  margin: 12%;
  color: rgb(249,196,110);
  margin-top: -8%;
}

.bubble-name{
font-size: 6vw;
  margin: 15%;
  margin-bottom: 8%;
  color: rgb(249,196,110);
  text-align: left;
}

.blank1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249,196,110);
   background: rgb(71,71,71);
   border-radius: 2vw;
   display: inline-block;
   padding: 5vw 35vw;
   border: 3px solid rgb(249,196,110);
}

.start-time{
  font-size: 6vw;
  margin-left: 15%;
  margin-top: 8%;
  margin-bottom: 8%;
  color: rgb(249,196,110);
  text-align: left;
}

.end-time{
  font-size: 6vw;
  margin: 15%;
  margin-top: 8%;
  margin-bottom: 8%;
  color: rgb(249,196,110);
  text-align: left;
}

.blank2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249,196,110);
   background: rgb(71,71,71);
   border-radius: 2vw;
   display: inline-block;
   padding: 5vw 35vw;
   border: 3px solid rgb(249,196,110);
   margin-bottom: 10%;
}

/* main page*/

.kids{
  font-size: 2.5vw;
  color: rgb(249,196,110);
   top: 5%;
  right: 12%;
}

.circle-kids-out {
  width: 20vw;
  height: 20vw;
  border-radius: 80%;
  margin: 18% auto 0;
  background: rgb(71,71,71);
  position: fixed;
  top: 10%;
  right: 12%;
}

.circle-kids-in {
  width: 9vw;
  height: 9vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(255,83,104);
  position: absolute;
  top: 27%;
  right: 28%;
}

.circle-purple-out {
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  margin: 5% auto 0;
  background: rgb(71,71,71);
  position: fixed;
  top: 3%;
  right: 30%;
}

.circle-purple-in {
  width: 8vw;
  height: 8vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(237,149,255);
  position: absolute;
  top: 13%;
  right: 13%;
}

.circle-blue-out {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  margin: 5% auto 0;
  background: rgb(71,71,71);
  position: fixed;
  top: 22%;
  left: 12%;
}

.circle-blue-in {
  width: 21vw;
  height: 21vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(139,255,229);
  position: absolute;
  top: 26%;
  right: 26%;
}

.circle-yellow-out {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin: 5% auto 0;
  background: rgb(71,71,71);
  position: fixed;
  top: 5%;
  left: 15%;
}

.circle-yellow-in {
  width: 6vw;
  height: 6vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(249,196,110);
  position: absolute;
  top: 38%;
  right: 37%;
}

.circle-dinner-out {
  width: 30vw;
  height: 30vw;
  border-radius: 80%;
  margin: 18% auto 0;
  background: rgb(71,71,71);
  position: fixed;
  top: 40%;
  right: -2%;
}

.circle-dinner-in {
  width: 24vw;
  height: 24vw;
  border-radius: 80%;
  margin: 0 auto;
  background: rgb(204,255,148);
  position: absolute;
  top: 10%;
  right: 9%;
}

.dinner{
  font-size: 5vw;
  color: rgb(249,196,110);
    position: fixed;
  top: 49%;
  right: 5%;
}

.add{
  position: absolute;
  font-size: 15vw;
  margin-left: 4%;
  text-align: left;
  margin-top: 130%;
  color: rgb(249,196,110);
}

.link{
   position: absolute;
  font-size: 3vw;
  margin-left: 76%;
  text-align: right;
  margin-top: 131%;
  color: rgb(249,196,110);
}